.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;
}

.siteFormContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.formElement {
  margin: 8px !important;
}