$color-primary: #4590CA;
$color-snow: #fcfcfc;

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.headerContainer {
  background-color: $color-primary;
  height: 140px;
  text-align: center;
  color: $color-snow;
  font-size: 40px;
  padding-top: 25px;
}